a.custom-activemenu {
  color: #009452 !important;
}

a.custom-activemenu:hover {
  color: #009452 !important;
}

.navbar {
  background: transparent !important;
  border-bottom: 0px solid transparent !important;
}

.navbar-short {
  background: linear-gradient(180deg, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%) !important;
  border-bottom: 0px solid transparent !important;
  height: 80px !important;
}

.navbar-short .container {
  margin-top: 0;
}

body {
  background-image: url("../images/bg.jpg") !important;
  background-repeat: repeat;
}

section:not(.footer3):not(.info1) {
  background: rgba(255, 255, 255, 0.7) !important;
}

#credits {
  display: flex;
  margin-top: 50px;
}

.footer-credits {
  margin: 20px;
  opacity: 0.1;
  color: white;
}
